<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>This agent acts much like the OCS Inventory Agent for Windows.  It gathers data (mostly using system_profiler) about the computer it is running on and either uploads the file to the communication server or dumps the data as a compressed XML file when working in local mode.  It gathers all of the same data as the Windows agent except Accesses, Ports, Registry, Slots, and Sounds which either aren't applicable on Macs or I haven't found a way to gather the data for them.  It only works on OSX 10.3+ because 10.3 was the first version to have PHP installed by default.

Note that this agent only works with the latest version OCS (OCS-NG).  If you are using OCS 3.0 you will need to use an older version of the agent.</string>
	<key>IFPkgDescriptionTitle</key>
	<string>OCS Inventory Mac agent (by Brooks Institute)</string>
</dict>
</plist>
